<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include external.html -%}

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="clubs">
            <!-- <div class="club_item">
                <img width='40' height='40' src='/CFB/assets/img/hjmdl.jpg'/>
                <span>皇家马德里</span>
                <a>0:2</a>
            </div> -->
        </div>
      </div>
    </main>

    {%- include footer.html -%}
    
    <script type="text/javascript">
        var dataJson = [
            {
                name:"皇家马德里",
                icon:"hjmdl.jpg",
                matches:[
                    {
                        score:"0:2",
                    }
                ]
            },
            {
                name:"巴塞罗那",
                icon:"bsln.png",
                matches:[
                    {
                        score:"0:1",
                    }
                ]
            },
            {
                name:"马德里竞技",
                icon:"mdljj.png",
                matches:[
                    {
                        score:"1:0",
                    }
                ]
            },
            {
                name:"西班牙人",
                icon:"xbyr.png",
                matches:[
                    {
                        score:"3:5",
                    },
                    {
                        score:"0:0",
                    }
                ]
            },
            {
                name:"塞维利亚",
                icon:"swly.png",
                matches:[
                    {
                        score:"3:3",
                    }
                ]
            },
            {
                name:"赫塔费",
                icon:"htf.png",
                matches:[
                    {
                        score:"2:0",
                    }
                ]
            },
            {
                name:"巴拉多利德",
                icon:"bldld.png",
                matches:[
                    {
                        score:"1:1",
                    }
                ]
            },
            {
                name:"塔拉戈纳",
                icon:"tlgn.png",
                matches:[
                    {
                        score:"1:2",
                    }
                ]
            },
            {
                name:"AC米兰",
                icon:"acml.png",
                matches:[
                    {
                        score:"0:0",
                    },
                    {
                        score:"2:3",
                    }
                ]
            },
            {
                name:"阿贾克斯",
                icon:"ajks.png",
                matches:[
                    {
                        score:"0:3",
                    }
                ]
            },
            {
                name:"拜仁慕尼黑",
                icon:"brmnh.png",
                matches:[
                    {
                        score:"2:3",
                    }
                ]
            },
            {
                name:"多特蒙德",
                icon:"dtmd.png",
                matches:[
                    {
                        score:"2:1",
                    },
                    {
                        score:"4:1",
                    }
                ]
            },
            {
                name:"莱比锡红牛",
                icon:"lbxhn.png",
                matches:[
                    {
                        score:"2:0",
                    }
                ]
            },
            {
                name:"法兰克福",
                icon:"flkf.png",
                matches:[
                    {
                        score:"1:1",
                    }
                ]
            },
            {
                name:"云达不来梅",
                icon:"ydblm.png",
                matches:[
                    {
                        score:"5:3",
                    }
                ]
            },
            {
                name:"汉诺威96",
                icon:"hnw96.png",
                matches:[
                    {
                        score:"0:5",
                    },
                    {
                        score:"5:2",
                    },
                    {
                        score:"5:1",
                    }
                ]
            },
            {
                name:"利物浦",
                icon:"lwp.png",
                matches:[
                    {
                        score:"3:1",
                    }
                ]
            },
            {
                name:"桑德兰",
                icon:"sdl.png",
                matches:[
                    {
                        score:"0:0",
                    }
                ]
            },
            {
                name:"狼队",
                icon:"ld.png",
                matches:[
                    {
                        score:"6:16",
                    },
                    {
                        score:"4:6",
                    },
                    {
                        score:"0:5",
                    }
                ]
            },
            {
                name:"本菲卡",
                icon:"bfk.png",
                matches:[
                    {
                        score:"1:0",
                    }
                ]
            },
            {
                name:"比利时亨克",
                icon:"hk.png",
                matches:[
                    {
                        score:"4:2",
                    }
                ]
            },
            {
                name:"萨尔斯堡",
                icon:"sesbhn.png",
                matches:[
                    {
                        score:"0:1",
                    }
                ]
            },
            {
                name:"阿德米拉",
                icon:"adml.png",
                matches:[
                    {
                        score:"1:0",
                    }
                ]
            },
            {
                name:"霍恩埃姆斯",
                icon:"heams.png",
                matches:[
                    {
                        score:"5:1",
                    }
                ]
            },
            {
                name:"赫尔辛基",
                icon:"hexj.png",
                matches:[
                    {
                        score:"4:1",
                    }
                ]
            },
            {
                name:"基辅火车头",
                icon:"jfhct.png",
                matches:[
                    {
                        score:"5:1",
                    }
                ]
            },
            {
                name:"弗罗茨瓦夫",
                icon:"flzwf.png",
                matches:[
                    {
                        score:"0:0",
                    }
                ]
            },
            {
                name:"什切青波贡",
                icon:"sqqbg.png",
                matches:[
                    {
                        score:"3:0",
                    }
                ]
            },
            {
                name:"科沙林",
                icon:"ksl.png",
                matches:[
                    {
                        score:"0:0",
                    }
                ]
            },
            {
                name:"达拉斯FC",
                icon:"dls.png",
                matches:[
                    {
                        score:"2:1",
                    },
                    {
                        score:"0:0",
                    }
                ]
            },
            {
                name:"萨拉热窝",
                icon:"slrw.jpg",
                matches:[
                    {
                        score:"1:0",
                    }
                ]
            },
            {
                name:"波德戈里察",
                icon:"bdglc.png",
                matches:[
                    {
                        score:"2:0",
                    }
                ]
            },
            {
                name:"神户胜利船",
                icon:"shslc.png",
                matches:[
                    {
                        score:"4:2",
                    }
                ]
            },
            {
                name:"首尔FC",
                icon:"sefc.png",
                matches:[
                    {
                        score:"4:0",
                    }
                ]
            },
            {
                name:"水原三星",
                icon:"sysx.png",
                matches:[
                    {
                        score:"3:2",
                    }
                ]
            },
            {
                name:"始兴蓝翼",
                icon:"sysx.png",
                matches:[
                    {
                        score:"10:0",
                    },
                    {
                        score:"2:2",
                    }
                ]
            },
            {
                name:"山东鲁能",
                icon:"sdln.png",
                matches:[
                    {
                        score:"3:0",
                    },
                    {
                        score:"5:1",
                    }
                ]
            },
            {
                name:"浙江绿城",
                icon:"zjlc.png",
                matches:[
                    {
                        score:"5:2",
                    },
                    {
                        score:"3:0",
                    }
                ]
            }
        ]


        var clubs = $(".clubs");

        dataJson.forEach(v => {
            var club_item = $("<div class='club_item'></div>")
            var icon = $("<img width='40' height='40' src='/CFB/assets/img/"+v.icon+"'/>");
            var name = $("<span>"+v.name+"</span>")
            club_item.append(icon);
            club_item.append(name);

            v.matches.forEach(m => {
                var p = $("<a></a>")
                p.text(m.score)
                club_item.append(p)
            })
            clubs.append(club_item);
        })
    </script>

  </body>

</html>
